.ipynb_checkpoints
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
/TP-FINAL/datasets
/TP-FINAL/models/*.pth

datasets/
TP-FINAL/datasets
TP-FINAL/experiments
TP-FINAL/models
TP-FINAL/plots
TP-FINAL/artifacts
TP-FINAL/Notebook_materia

.isort.cfg
.ruff.toml

/Clases_Practicas/